:root {
  --food-tag-kr: #f5ff97;
  --food-tag-western: #9cb8e2;
  --food-tag-jp: #bce79f;
  --food-tag-cn: #f8a9b7;
  --food-tag-sea: #b6a2ff;
  --mapo-blue: #4ad1ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-margin-top: 79px;
}

/* 마포금빛나루체 */
@font-face {
  font-family: "MapoGoldenPier";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoGoldenPierA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  scroll-behavior: smooth;
  font-family: "LeeSeoyun";
}

a {
  text-decoration: none;
  color: black;
}

/* navigation */
nav {
  width: 100%;
  height: 80px;
  opacity: calc(0);
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  padding: 20px 20px;
  transition: 0.2s;
  -webkit-box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.45);
  box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.45);
}

nav.__visible {
  opacity: calc(100);
  pointer-events: all;
  background-color: #fff;
  transition: 0.35s;
}

nav .menu_container {
  display: flex;
  flex-grow: 1;
}

nav .menu_container ul {
  width: 100%;
  display: flex;
  flex-direction: fow;
  justify-content: space-evenly;
  font-size: 24px;
}

nav .menu_container ul li {
  text-decoration: none;
  cursor: pointer;
}

nav .logo {
  display: flex;
  flex-grow: 1;
}

nav ul li {
  list-style: none;
}

nav .logo #title {
  font-family: "LeeSeoyun", /*"Black Han Sans", */ sans-serif;
  font-size: 56px;
  color: var(--mapo-blue);
  transition: 0.35s;
  text-decoration: underline 0.1em rgba(0, 0, 0, 0);
}

nav .logo #title:hover {
  color: #3ee25f;
  transition: 0.35s;
  text-decoration-color: rgba(62, 226, 95, 1);
}

/* main contents */
.main {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* menu padding w/ offset */
.__main_content {
  padding: 0;
}

/* video */
.main #main_video {
  width: 100%;
  height: 100vh;
}

.main #main_video #myVideo {
  width: 100%;
  height: 100vh;
  object-fit: fill;
  animation-direction: alternate;
}

.main #main_video .type_effect_container {
  position: absolute;
  z-index: 1;
  top: 45%;
  left: 50%;
  transform: translateX(-50%);
}

.main #main_video .arrow_down {
  width: 60%;
  height: 120px;
  position: absolute;
  z-index: 2;
  color: #fdfcfb;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.main #main_video .arrow_down i.fa-angle-down {
  animation: upDown 2s linear infinite;
  opacity: calc(0.9);
}

@keyframes upDown {
  100% {
    transform: translateY(-6px);
  }
  50% {
    transform: translateY(6px);
  }
  0% {
    transform: translateY(-6px);
  }
}

.shadow {
  /* text-shadow: 2px 2px #ffffff88; */
  -webkit-text-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.45);
  text-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.45);
}

.main .type_effect_container {
  font-family: "MapoGoldenPier";
  font-size: 68px;
  color: #fdfcfb;
  /* background-color: rgb(40, 40, 40, 0.4); */
}

.main #dynamic {
  display: inline-block;
  position: fixed;
  bottom: 0;
}

.main .type_effect_container::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: -10px;
  width: 4px;
  height: 68px;
  background-color: #fdfcfb;
}

.main .type_effect_container.active::after {
  display: none;
}

/* 걷고싶은 마포 */
.main_walks {
  width: 100%;
  background-color: #ffebf2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  position: static;
}

/* .main_walks .main_title {
  margin: 12px 20px;
} */

/* carousel */
.maporoads_container {
  /* background-color: rgba(255, 220, 220, 0.5); */
  position: relative;
  width: 50%;
  height: 70%;
  display: flex;
  justify-content: center;
}

.road {
  display: none;
  position: relative;
}

.road_title {
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  top: 40%;
  left: 20%;
  width: auto;
  z-index: 1;
  font-size: 32px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  padding: 12px 20px;
}

.road_desc {
  font-size: 16px;
  padding: 8px 12px;
  position: absolute;
  bottom: 10%;
  width: auto;
  text-align: center;
  z-index: 1;
}

.road img {
  position: relative;
  z-index: 0;
  width: 520px;
  height: 740px;
  object-fit: cover;
}

.prevNextContainer {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  top: 50%;
}

.prev,
.next {
  cursor: pointer;
  position: relative;
  width: auto;
  padding: 16px;
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
  /* font-weight: bold; */
  font-size: 24px;
  transition: 0.5s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  z-index: 1;
}

.next {
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.dotIndicator {
  margin-top: 12px;
}

.dot {
  cursor: pointer;
  height: 16px;
  width: 16px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
}

.dot.active,
.dot:hover {
  background-color: #fe8f9c;
  transition: background-color 0.5s ease;
}

/* 먹고싶은 마포 */
.main #mapo_map {
  width: 100%;
  padding: 10px 28px;
}

.main #mapo_map .icons_container {
  cursor: pointer;
}

.main #mapo_map .map_intro {
  width: 100%;
  padding: 80px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* .main #mapo_map .map_intro*/
.main_title {
  font-size: 80px;
  text-align: center;
  margin-bottom: 40px;
  display: inline-block;
}

.sub_title {
  font-size: 50px;
  text-align: center;
  margin-bottom: 40px;
  display: inline-block;
  line-height: 1.3;
}

.main #mapo_map .map_intro .food_content {
  text-align: center;
  font-size: 32px;
  line-height: 1.5em;
}

.food_desc i {
  margin-top: 50px;
}

.main #mapo_map .map_intro .food_content .fas {
  font-size: 60px;
  line-height: 2em;
  color: #003242;
}

/* 지도부분 */
.main #mapo_map .food_map_area {
  width: 92%;
  display: flex;
  height: 84vh;
  flex-direction: row;
  margin: auto;
  margin-bottom: 100px;
  padding-top: 20px;
}

.main #mapo_map .food_map_area .side {
  flex: 3;
  /* background-color: #fdfcfb; */
  /* background-color: cornflowerblue; */
}

.main #mapo_map .food_map_area .side .logo {
  height: 100px;
  padding: 20px 30px;
  /* background-color: rgb(236, 221, 236); */
}

.main #mapo_map .food_map_area .mapContent {
  flex: 5;
  /* background-color: rgb(214, 236, 255); */
  display: flex;
}

/* kakao map div */
.main #mapo_map .food_map_area .mapContent #map {
  width: 100%;
  border-radius: 20px;
  margin: 0 0 0 30px;
}

/* mapo places */
/* .side .places {
  width: 100%;
  height: 100vh;
} */

.place__item {
  margin: 8px 4px 16px 4px;
  padding: 8px 10px;
  /* border: 1px solid rgb(148, 148, 148); */
  border-radius: 8px;
  /* filter: drop-shadow(0px 4px 30px rgba(0, 0, 0, 0.08)); */
  -webkit-box-shadow: 0px 0px 10px 2px rgba(55, 55, 55, 0.1);
  box-shadow: 0px 0px 10px 2px rgba(55, 55, 55, 0.1);
}

.side .places .list__footer {
  width: 100%;
  height: 36px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-self: center;
  align-items: center;
  position: relative;
  border-radius: 8px;
  left: 0;
  bottom: 0;
  background-color: rgb(74, 209, 255, 0.5);
  box-shadow: 0px 0px 10px 2px rgba(55, 55, 55, 0.1);
}

.list__footer .fas {
  font-size: 24px;
  color: #003242;
  margin: 8px 0;
}

.list__footer .pages {
  height: 32px;
  display: flex;
  flex-direction: row;
}

.list__footer .pages a {
  width: 32px;
  height: 36px;
  font-size: 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list__footer .pages a:hover {
  cursor: pointer;
}

.list__footer .pages .current {
  text-decoration: underline;
}

/* 놀고싶은 마포 */
.main #mapo_play {
  width: 100%;
  height: 1200px;
  display: flex;
  background-color: var(--mapo-blue);
  justify-content: center;
}

/* footer */
footer {
  width: 100%;
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: #003242;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 1.5em;
}

footer a {
  color: var(--mapo-blue);
}

footer .footer_logo_side .mapo_logo {
  width: 100px;
}

footer .footer_desc {
  padding-top: 12px;
  font-size: 18px;
  line-height: 1.3em;
}

@media (max-width: 600px) {
  .content {
    display: flex;
    flex-direction: column;
  }
}
